doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/metatags
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/styles
	body
		include ../include/userheader
		main.margin-top-51
			.container
				.row.display-flex-sm
					.col-xs-12.col-sm-4.col-md-3.display-flex-sm
						include ../include/usersidebar
					.col-xs-12.col-sm-8.col-md-9.padding-right-sm-0
						.col-xs-12.padding-right-0.padding-left-0.padding-right-sm-12.padding-left-sm-12
							ul.nav.nav-tabs.margin-top-24
								li.active
									a(href="#home", data-toggle="tab")
										i.fa.fa-inbox.padding-right-6
										| Allgemein
								li
									a(href="#profile", data-toggle="tab")
										i.fa.fa-user.padding-right-6
										| Freunde
								li
									a(href="#settings", data-toggle="tab")
										i.fa.fa-plus
							.tab-content
								#home.tab-pane.fade.in.active
									.list-group
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
										a.list-group-item(href="#")
											.checkbox
												label.show
													input(type="checkbox")
													span.margin-left-12 Bhaumik Patel
													span.margin-left-24 Nachrichten Titel oder so!
													span.pull-right
														i.fa.fa-paperclip
														span.margin-left-6.badge 12:10h
								#profile.tab-pane.fade.in
									.list-group
										.list-group-item
											span.text-center tbd.
								#settings.tab-pane.fade.in
									.list-group
										.list-group-item
											span.text-center tbd.
		include ../include/userfooter
		include ../include/tracking
