doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
	head
		include ../include/metatags
		include ../include/styles
	body
		include ../include/userheader
		main.margin-top-51
			.container
				.row.display-flex-sm
					.col-xs-12.col-sm-4.col-md-3.display-flex-sm
						include ../include/usersidebar
					.col-xs-12.col-sm-8.col-md-9.padding-right-sm-0
						header.col-xs-12.padding-bottom-15.padding-right-sm-0
							h2.page-header Profil
						form.form-horizontal(role="form")
							.form-group
								label(for="firstname").col-xs-12.col-sm-2.control-label Vorname
								.col-xs-12.col-sm-9
									input#firstname.form-control(type="text", name="firstname", placeholder="")
							.form-group
								label(for="surname").col-xs-12.col-sm-2.control-label Nachname
								.col-xs-12.col-sm-9
									input#surname.form-control(type="text", name="surname", placeholder="")
							.form-group
								label(for="about").col-xs-12.col-sm-2.control-label Über mich
								.col-xs-12.col-sm-9
									textarea#about.form-control(name="about", rows="5")
							.form-group
								label(for="location").col-xs-12.col-sm-2.control-label Wohnort
								.col-xs-12.col-sm-9
									input#location.form-control(type="text", name="location", placeholder="")
							.form-group
								label(for="birthday").col-xs-12.col-sm-2.control-label Geburtstag
								.col-xs-12.col-sm-9
									input#birthday.form-control(type="text", name="birthday", placeholder="")
							.form-group
								label(for="profession").col-xs-12.col-sm-2.control-label Beruf
								.col-xs-12.col-sm-9
									input#profession.form-control(type="text", name="profession", placeholder="")
							.form-group
								label(for="email").col-xs-12.col-sm-2.control-label E-Mail
								.col-xs-12.col-sm-9
									input#email.form-control(type="email", name="email", placeholder="")
							.form-group
								label(for="phone").col-xs-12.col-sm-2.control-label Mobile
								.col-xs-12.col-sm-9
									input#phone.form-control(type="tel", name="phone", placeholder="")
							.form-group
								label(for="website").col-xs-12.col-sm-2.control-label Website
								.col-xs-12.col-sm-9
									input#website.form-control(type="url", name="website", placeholder="http://your-domain.com")
							.form-group
								.col-xs-12.col-sm-11.text-right
									button.btn.btn-success(type="submit")
										| Speichern
										i.fa.fa-arrow-circle-right.fa-lg.padding-left-3
		include ../include/userfooter
		include ../include/tracking
