// import bootstrap
@import 'src/sass/bootstrap';

// import fontawesome
@import 'src/sass/fontawesome';

// import offcanvas navigation styles
@import 'src/sass/offcanvas';
@import 'src/sass/position';

// import custom mixins
@import 'src/sass/mixin/offset-classes';


@include optional-offset-classes('', 0 3 6 9 12 15 18 21 24 36);

.margin-top-51 {
    margin-top: 51px;
}

.padding-top-60 {
	padding-top: 60px;
}

@media (min-width: $screen-sm-min) {
	@include optional-offset-classes('sm', 0 3 6 9 12 15 18 21 24 36);

	.margin-top-sm-51 {
		margin-top: 51px;
	}

	.padding-top-sm-60 {
		padding-top: 60px;
	}

	.hvr-grow {
		vertical-align: middle;
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		transition-duration: .3s;
		transition-property: transform;
	}

	.hvr-grow:hover,
	.hvr-grow:focus,
	.hvr-grow:active {
		transform: scale(1.1);
	}
}

@media (min-width: $screen-md-min) {
	@include optional-offset-classes('md', 0 3 6 9 12 15 18 21 24 36);

	.margin-top-md-51 {
		margin-top: 51px;
	}

	.padding-top-md-60 {
		padding-top: 60px;
	}
}

@media (min-width: $screen-lg-min) {
	@include optional-offset-classes('lg', 0 3 6 9 12 15 18 21 24 36);

	.margin-top-lg-51 {
		margin-top: 51px;
	}

	.padding-top-lg-60 {
		padding-top: 60px;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
	outline: none;
}

.panel-primary > .panel-heading > a:active,
.panel-primary > .panel-heading > a:focus,
.panel-primary > .panel-heading > a:hover {
	color: #fff;
}

.thumbnail {
	margin-bottom: 0;
}

.thumbnail .caption a {
	color: #fff;
}

.navbar-brand > img {
	margin-right: 9px;
	margin-top: -2px;
	height: 35px;
}

.navbar-nav > li > a {
	line-height: 27px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

a {
	transition: background-color .3s ease 0s, border .3s ease 0s, color .3s ease 0s, opacity .3s ease-in-out 0s;
}

p {
	margin: 0 0 6px;
}

.list-style-upper-roman {
	list-style-type: upper-roman;
}

::selection {
	color: #fff;
	background-color: #f881a1;
}

::-moz-selection {
	color: #fff;
	background-color: #f881a1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0;
}

.text-handwriting {
	font-family: 'Pacifico', cursive;
}

.text-headline {
	font-family: 'Cabin', sans-serif;
}

.center-block {
    float: none;
}

.bg-white {
    background-color: #fff;
}

.bg-texture-main {
    background-image: url(../img/canvas.png);

    background-position: center center;
    background-attachment: fixed;

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/canvas.png", sizingMethod="scale");
    -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/canvas.png", sizingMethod="scale")';

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
	border: 0;
	border-radius: 0;
	padding: 6px 12px 8px;
}

.btn.btn-primary {
	border-bottom: 2px solid $brand-info;
	-webkit-box-shadow: inset 0 -2px $brand-info;
	box-shadow: inset 0 -2px $brand-info;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
	outline: none;
	border-bottom: 2px solid $brand-info;
	-webkit-box-shadow: inset 0 -2px $brand-info;
	box-shadow: inset 0 -2px $brand-info;
}

.text-action {
	color: #f881a1;
}

.text-white {
	color: #fff;
}

.full-width {
	width: 100%;
}

.bg-overlay-dark {
	background-color: rgba(248, 129, 161, .4)
}

.affix {
	top: 80px;
	width: 100%;
}

.br-blue {
  background-color: #609cec !important;
}

.br-pink {
  background-color: #ff61e7 !important;
}

.br-purple {
  background-color: #cb79e6 !important;
}

.show-btn-love:hover .btn-love {
	opacity: 1;
}

.btn-love {
	font-size: $font-size-h5;
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	padding: 9px 9px 6px 9px;
	position: absolute;
	color: #f881a1;
	z-index: 10;
	opacity: 0;
	bottom: 0;
	right: 0;
}

.btn-love:hover,
.btn-love:focus,
.btn-love:active {
	outline: none;
	color: #f801a1;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-gplus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#fff;}
.btn-facebook:hover {background-color:#2A4998;color:#fff;}
.btn-gplus:hover {background-color:#C23836;color:#fff;}