doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
	head
		include /include/metatags
		include /include/styles
	body
		include /include/header
		main.margin-top-sm-51
			.container
				nav.row
					ul.pager.padding-right-12.padding-left-12.padding-sm-24
						li.previous
							a(href="#")
								span(aria-hidden="true") &#8592;
								| zurück
						li.next
							a(href="#")
								| weiter
								span(aria-hidden="true") &#8594;
				.row.margin-bottom-15.margin-bottom-sm-36
					.col-xs-12.col-md-5.padding-bottom-15.padding-bottom-sm-0
						.row
							.col-xs-12.padding-bottom-6
								img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
							.col-xs-4.padding-right-0
								a.show(href="#")
									img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
							.col-xs-4.padding-right-6.padding-left-6
								a.show(href="#")
									img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
							.col-xs-4.padding-left-0
								a.show(href="#")
									img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
					.col-xs-12.col-md-7
						h2.margin-bottom-6.margin-bottom-sm-9 Produktdetail
						.table-responsive
							table.table
								tbody
									tr
										th Marke:
										td Luxury Designers
									tr
										th Herkunft:
										td Türkei
									tr
										th Model:
										td SF-031 - Luxury
									tr
										th Bewertungen:
										td 23
						p
							| Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in r Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel? Gerade jetzt, wo er das Ding seines Lebens gedreht hatte und mit der Beute verschwinden wollte!
						.margin-top-24.text-right
							button.btn.btn-action(type="submit")
								| Zum Shop
								i.fa.fa-arrow-circle-right.fa-lg.padding-left-3
				.row.margin-bottom-15.margin-bottom-sm-24
					.col-xs-12
						h4 Wird oft zusammen gekauft
				.row.margin-bottom-24
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-24.padding-bottom-md-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin.text-love
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="http://placehold.it/800x532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
				include /include/comments
				include /include/socialmediabar
				include /include/commentsmodal
		include /include/footer
