doctype
include ./include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ./include/opengraphtags
		include ./include/twittercardtags
		include ./include/metatags
		include ./include/styles
	body.padding-top-24
		.container
			.well
				h1= message
				h2= error.status
				pre #{error.stack}
				p.text-center
					a.btn.btn-default.btn-lg(href='#', onclick='history.back(); return false;') Zurück
					a.btn.btn-default.btn-lg(href='/') Startseite
