doctype
html(prefix='og: http://ogp.me/ns#', lang='de')
  head
    include /include/metatags
    include /include/styles
   body.padding-top-24
    .container
      .well
         each val in users
           h6= val.displayname