doctype
include ./include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ./include/metatags
		include ./include/opengraphtags
		include ./include/twittercardtags
		include ./include/styles
	body#top.body-offcanvas
		include ./include/header
		main.margin-top-sm-51
			.container
				.panel
					#c-slide.carousel.slide.auto.panel-body
						.carousel-inner
							.item.text-center.active
								figure.col-xs-12.padding-top-0.padding-right-0.padding-bottom-15.padding-left-0
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/Dollarphotoclub_65497685_rsz_rsz.jpg", alt="")
								h3 Es ist nie zu spät Dir etwas gutes zu tun!
								small Finde was Du brauchst, tausche. verkaufe. verschenke was Du über hast
							.item.text-center
								h3 Teile mit Deinen Lieben was Dir gefällt!
								small Lege jetzt los und durchstöbere unsere ausgewählten Angebote
							.item.text-center
								h3 Teile Deine Ereignisse in unserem Blog!
								small Unterhalte Dich mit gleichgesinnten über viele Themen rund ums Baby
						a.left.carousel-control.padding-left-24.display-flex.justify-content-start.align-items-center(data-slide="prev", href="#c-slide")
							i.fa.fa-angle-left.text-action
						a.right.carousel-control.padding-right-24.display-flex.justify-content-end.align-items-center(data-slide="next", href="#c-slide")
							i.fa.fa-angle-right.text-action
			.container
				.row.margin-bottom-24
					.col-xs-12.padding-top-15.padding-top-sm-36.padding-bottom-15.padding-bottom-sm-24
						h3 Finde Babyartikel schneller
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/umstandsmode", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_74161737.jpg", alt="")
							.caption
								a.show.text-white(href="/umstandsmode") Umstandsmode
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/babyshower", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_18460772.jpg", alt="")
							.caption
								a.show.text-white(href="/babyshower") Babyshower
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/erstausstattung", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_60638805.jpg", alt="")
							.caption
								a.show.text-white(href="/erstausstattung") Erstausstattung
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/babymoebel", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_45030985.jpg", alt="")
							.caption
								a.show.text-white(href="/babymoebel") Babymöbel
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/babykleidung", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_38989327.jpg", alt="")
							.caption
								a.show.text-white(href="/babykleidung") Babykleidung
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/babyspielzeug", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_62870614.jpg", alt="")
							.caption
								a.show.text-white(href="/babyspielzeug") Babyspielzeug
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_62454523.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Babypflege
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.caption
								a.show.text-white(href="/result") Küchengeräte
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_56954989.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Babynahrung
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/schlafparadies", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_17650535.jpg", alt="")
							.caption
								a.show.text-white(href="/schlafparadies") Schlafparadies
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Autositze
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_51587127.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Kinderwagen
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_76176908.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Unterwegs
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_73176512.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Sicherheit
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_51382633.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Babybücher
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/result", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_42451934.jpg", alt="")
							.caption
								a.show.text-white(href="/result") Entspannung
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/gift", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_64937825.jpg", alt="")
							.caption
								a.show.text-white(href="/gift") Geschenke
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/voucher", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_71593704.jpg", alt="")
							.caption
								a.show.text-white(href="/voucher") Gutscheine
					.col-xs-6.col-sm-4.col-md-3.teaser-pattern
						.hvr-grow.thumbnail
							figure
								a.show(href="/sale", rel="bookmark")
									img.img-responsive.lazyload(src="/img/loader.gif", data-src="/img/stockphoto/800x532_Dollarphotoclub_68752506.jpg", alt="")
							.caption
								a.show.text-white(href="/sale") Sale
				.row
					h3.col-xs-12.padding-bottom-15.padding-bottom-sm-24 Beliebte Artikel
				.row.margin-bottom-15.margin-bottom-sm-36
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-24.padding-bottom-md-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6.padding-bottom-15.padding-bottom-sm-0
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
					.col-md-3.col-sm-6
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									a.show(href="/result", rel="bookmark")
										img.img-responsive(src="/img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-top-12.padding-bottom-12
								h5.margin-bottom-9
									a.show(href="/detail") Großes Jumbo Windelpaket
								p.lead.text-action.margin-bottom-0 EUR 19.50
				include ./include/productdirectory
		include ./include/footer
		include ./include/tracking
