doctype
include ./include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ./include/metatags
		include ./include/opengraphtags
		include ./include/twittercardtags
		include ./include/styles
	body
		include ./include/header
		main.margin-top-sm-51
			.container
				.row.margin-bottom-15.margin-bottom-sm-24
					.col-xs-12.col-md-8.col-md-offset-2.padding-top-15.padding-top-sm-36
						.row.bg-white.thumbnail.margin-0
							form(action="/register", name="register", method="post", accept-charset="utf-8")
								fieldset.col-xs-12.padding-top-9.padding-bottom-12
									.form-group
										h2 Mach mit!
										p Jetzt einfach und kostenlos registrieren! Bereits registriert? 
											a(href="/login") Login
									.row.form-group
										.col-xs-12.col-sm-6.padding-bottom-12.padding-bottom-sm-0
											.input-group
												span.input-group-addon
													i.fa.fa-user.fa-fw
												input#username-signup.form-control(type="text", name="username", placeholder="username", required)
										.col-xs-12.col-sm-6
											.input-group
												span.input-group-addon
													i.fa.fa-globe.fa-fw
												select#country-signup.form-control(name="country")
									.row.form-group
										.col-xs-12.col-sm-6.padding-bottom-12.padding-bottom-sm-0
											.input-group
												span.input-group-addon
													i.fa.fa-envelope-o.fa-fw
												input#email-signup.form-control(type="text", name="email", placeholder="mail@domain.com", required)
										.col-xs-12.col-sm-6
											.input-group
												span.input-group-addon
													i.fa.fa-envelope-o.fa-fw
												input#email-confirm-signup.form-control(type="text", name="email-confirm", placeholder="mail@domain.com", required)
									.row.form-group
										.col-xs-12.col-sm-6.padding-bottom-12.padding-bottom-sm-0
											.input-group
												span.input-group-addon
													i.fa.fa-lock.fa-fw
												input#password-signup.form-control(type="password", name="password", placeholder="●●●●●", required)
										.col-xs-12.col-sm-6
											.input-group
												span.input-group-addon
													i.fa.fa-lock.fa-fw
												input#password-confirm-signup.form-control(type="password", name="password-confirm", placeholder="●●●●●", required)
									.checkbox.margin-bottom-3
										label.input-sm(for="register-accept")
											input(id="register-accept", type="checkbox", name="register-accept", value="true")
											| Ich akzeptiere 
											a(href="/terms") Nutzungserklärung
											|  und 
											a(href="/privacy") Datenschutzerklärung
											| .
									button.btn.btn-success(type="submit")
										| Registrieren
										i.fa.fa-arrow-circle-right.fa-lg.padding-left-3
		include ./include/footer
		include ./include/tracking
