option(value="", selected="") Keine Angabe
option(value="") beige
option(value="") blau
option(value="") braun
option(value="") gelb
option(value="") grau
option(value="") grün
option(value="") orange
option(value="") pink
option(value="") rot
option(value="") schwarz
option(value="") weiß
