.margin-bottom-15
  .well
    .row
      .col-xs-12.text-right
        a.btn.btn-success(data-toggle="modal", data-target="#modalComment")
          i.fa.fa-comments.padding-right-3
          | Erfahrung teilen
    hr
    .row
      .col-xs-12.padding-bottom-6
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star-o
        span.text-action.fa.fa-star-o
        | 
        strong Helmut
        span.pull-right.small vor 2 Tagen
      .col-xs-12
        p
          | Wir haben den Kinderwagen seit 5 Monaten in Gebrauch und ich kann ihn nur weiterempfehlen. Selbst im Winter mit viel Schnee kommt man gut vorwärts da er große Reifen hat. Das umstecken vom babysafe und der babyliege ist kinderleicht. Mit der guten federung kann man problemslos auf Feldwege oder wiesenwege laufen. Kurzum ich bin total begeistert und würde den Wagen immer wieder kaufen!
    hr
    .row
      .col-xs-12.padding-bottom-6
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        | 
        strong Sarah
        span.pull-right.small 12. September 2014
      .col-xs-12
        p I`ve alredy ordered another one!
    hr
    .row
      .col-xs-12.padding-bottom-6
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star
        span.text-action.fa.fa-star-o
        span.text-action.fa.fa-star-o
        | 
        strong Claudia
        span.pull-right.small 30. Juni 2014
      .col-xs-12
        p
          | I`ve seen some better than this, but not at this price. I definitely recommend this item.
