option(value="", selected="") Keine Angabe
option(value="") Alete
option(value="") Alnatura
option(value="") Aptamil
option(value="") Bambinchen
option(value="") BEBA
option(value="") Bebivita
option(value="") Edelweiss
option(value="") Golden Goat
option(value="") HiPP
option(value="") Holle
option(value="") Humana
option(value="") Lebenswert Bio
option(value="") LORADO
option(value="") Milasan
option(value="") Milupa
option(value="") Natamil
option(value="") Novalac
option(value="") Töpfer
