footer.bg-texture-main.border-top-6.border-secondary.padding-top-15.padding-top-sm-36
	.container
		.row.margin-bottom-6.margin-bottom-sm-24
			.col-xs-12.col-md-8.center-block
				.row
					.col-xs-6.col-md-3
						p.text-uppercase.margin-bottom-6.margin-bottom-sm-12 Übersicht
						ul.list-unstyled
							li.small
								a(href='/sale') Sale
							li.small
								a(href='/voucher') Gutscheine
							li.small
								a(href='/gift') Geschenke
							li.small
								a(href='/special') Themen
					.col-xs-6.col-md-3
						p.text-uppercase.margin-bottom-6.margin-bottom-sm-12 Partner
						ul.list-unstyled
							li.small
								a(href='#') Amazon
							li.small
								a(href='#') Dawanda
							li.small
								a(href='#') Otto Group
							li.small
								a(href='#') Ebay
					.col-xs-6.col-md-3
						p.text-uppercase.margin-bottom-6.margin-bottom-sm-12 Kontakt
						ul.list-unstyled
							li.small
								a(href='/blog') Blog
							li.small
								a(href='/team') Team
							li.small
								a(href='/about') Über uns
							li.small
								a(href='/contact') Kontakt
					.col-xs-6.col-md-3
						p.text-uppercase.margin-bottom-6.margin-bottom-sm-12 Rechtliches
						ul.list-unstyled
							li.small
								a(href='/legal') Impressum
							li.small
								a(href='/terms') Nutzungserklärung
							li.small
								a(href='/faq') Fragen &amp; Antworten
							li.small
								a(href='/privacy') Datenschutz
		.row.text-center.margin-bottom-sm-24
			p.small
				| 2015 &copy; 
				a(href='/') baby-click.de
	script(src='/lib/jquery/jquery.min.js')
	script(src='/lib/bootstrap/bootstrap.min.js')
	script(src='/js/main.js')
	script(src='/js/unveil.js')
	script(src='/js/offcanvas.js')
