meta(property="og:url", content="http://baby-click.de/")
meta(property="og:locale", content="de_DE")
meta(property="og:title", content="babyclickDE - ein klick und alles im Blick")
meta(property="og:description", content="babyclickDE ist ein gemeinschaftlicher Marktplatz für einzigartige Produkte rund ums Baby")
meta(property="og:type", content="website")
meta(property="og:image", content="http://beta.baby-click.de/img/logo.svg")
