option(value="", selected="") Keine Angabe
option(value="") bis 5 EUR
option(value="") 5-10 EUR
option(value="") 10-15 EUR
option(value="") 15-20 EUR
option(value="") 20-30 EUR
option(value="") 30-50 EUR
option(value="") 50-100 EUR
option(value="") 100-200 EUR
option(value="") 200-300 EUR
option(value="") 300-500 EUR
option(value="") 500-1000 EUR
option(value="") ab 1000 EUR
