.row.margin-bottom-15.margin-bottom-sm-24
  .col-xs-12.col-sm-6.col-lg-9.padding-bottom-15.padding-bottom-sm-0
    .col-xs-12.thumbnail.bg-white
      .col-xs-12.padding-12
        h5.margin-bottom-6
          i.fa.fa-envelope-o.padding-right-3
          | Newsletter bestellen
        p
          | Abonniere unseren kostenlosen Newsletter und verpasse nie wieder unsere Angebote
        form
          .input-group
            input.form-control(type="text", placeholder="mail@domain.com")
            span.input-group-btn
              button.btn.btn-info(type="submit")
                | Anmelden
                i.fa.fa-arrow-circle-right.fa-lg.padding-left-3
  .col-xs-12.col-sm-6.col-lg-3.text-right
    a.btn.btn-twitter.btn-xs(target="_blank", href="https://twitter.com/babyclickDE")
      i.fa.fa-twitter.padding-right-3
      | Twitter
    a.btn.btn-facebook.btn-xs(target="_blank", href="https://www.facebook.com/babyclickDE")
      i.fa.fa-facebook.padding-right-3
      | Facebook
    a.btn.btn-gplus.btn-xs(target="_blank", href="#")
      i.fa.fa-google-plus.padding-right-3
      | Google+
