option(value="GMT") Greenwich Mean Time
option(value="UTC") Universal Coordinated Time
option(value="ECT") European Central Time
option(value="EET") Eastern European Time
option(value="ART") (Arabic) Egypt Standard Time
option(value="EAT") Eastern African Time
option(value="MET") Middle East Time
option(value="NET") Near East Time
option(value="PLT") Pakistan Lahore Time
option(value="IST") India Standard Time
option(value="BST") Bangladesh Standard Time
option(value="VST") Vietnam Standard Time
option(value="CTT") China Taiwan Time
option(value="JST") Japan Standard Time
option(value="ACT") Australia Central Time
option(value="AET") Australia Eastern Time
option(value="SST") Solomon Standard Time
option(value="NST") New Zealand Standard Time
option(value="MIT") Midway Islands Time
option(value="HST") Hawaii Standard Time
option(value="AST") Alaska Standard Time
option(value="PST") Pacific Standard Time
option(value="PNT") Phoenix Standard Time
option(value="MST") Mountain Standard Time
option(value="CST") Central Standard Time
option(value="EST") Eastern Standard Time
option(value="IET") Indiana Eastern Standard Time
option(value="PRT") Puerto Rico and US Virgin Islands Time
option(value="CNT") Canada Newfoundland Time
option(value="AGT") Argentina Standard Time
option(value="BET") Brazil Eastern Time
option(value="CAT") Central African Time
