meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="babyclickDE")
meta(name="twitter:title", content="babyclickDE - ein klick und alles im Blick")
meta(name="twitter:description", content="@babyclickDE ist ein gemeinschaftlicher Marktplatz für einzigartige Produkte rund ums Baby. #mamilove #papilove")
meta(name="twitter:image:src", content="http://beta.baby-click.de/img/logo.svg")
