.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-header.padding-left-sm-36
        a.navbar-brand(href="/")
          img.pull-left(src="/img/logo.svg", alt="baby-click.de der Marktplatz rund ums Baby")
          span.pull-left.h3.text-handwriting baby-click.de
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.fa.fa-comment
            span.count 3
          ul.dropdown-menu(role="menu")
            li
              a(href="#") Was geht ab?
            li
              a(href="#") Ich bin mal weg...
            li
              a(href="#")
                strong Alle Nachrichten
        li.padding-left-sm-36.padding-right-sm-36.dropdown
          a.dropdown-toggle(data-toggle="dropdown", role="button", aria-expanded="false")
            | Jane Witt
            strong.caret
          include /include/loginlayer
