.row.bg-white
  .col-xs-12.padding-36
    img.img-responsive.img-circle.center-block(src="http://lorempixel.com/200/200/people/9/", width="150", height="auto", alt="")
  .col-xs-12.padding-bottom-24.text-center
    p.margin-bottom-6 Jane Witt
    p.margin-bottom-0 Hausfrau, 2 Kinder
  .col-xs-12.padding-bottom-36.text-center
    button.btn.btn-success.btn-sm(type="button") Folgen
    button.btn.btn-info.btn-sm(type="button") Nachricht
  .col-xs-12
    .row.list-group
      a.list-group-item(href="./user/userdashboard")
        i.fa.fa-dashboard
        | Dashboard
      a.list-group-item(href="./user/userprofile")
        i.fa.fa-users
        | Profil
      a.list-group-item(href="./user/userinbox")
        i.fa.fa-envelope
        | Nachrichten
        span.badge 59
      a.list-group-item(href="#")
        i.fa.fa-tasks
        | Aufgaben
      a.list-group-item(href="#")
        i.fa.fa-bar-chart-o
        | Statistik
      a.list-group-item(href="./user/usersettings")
        i.fa.fa-gears
        | Einstellungen
  .col-xs-12
    .well
      .row
        .col-xs-3
          img(src="./img/certificate.png", width="45")
        .col-xs-9
          h4 Werde beliebt!
          p.margin-bottom-0 Erg&#228;nze Dein Profil und erhalte viele tolle Sonderangebote.
