footer.bg-contrast.padding-15
  .container
    ul.list-unstyled.list-inline.text-center.margin-bottom-0
      li.small
        a.text-white(href="./legal.html") Impressum
      li.small
        a.text-white(href="./welcome.html") 2015 &#169; baby-click.de
      li.small
        a.text-white(href="./privacy.html") Datenschutz
script(src="./lib/jquery/jquery.min.js")
script(src="./lib/bootstrap/bootstrap.min.js")
script(src="./js/unveil.min.js")
