.row.bg-white
  .col-xs-12.padding-36
    img.img-responsive.img-circle.center-block(src="http://lorempixel.com/200/200/people/9/", width="150", height="auto", alt="")
  .col-xs-12.padding-bottom-24.text-center
    p.margin-bottom-6 Jane Witt
    p.margin-bottom-0 Hausfrau, 2 Kinder
  .col-xs-12.padding-bottom-36.text-center
    button.btn.btn-success.btn-sm(type="button") Folgen
    button.btn.btn-info.btn-sm.margin-left-6(type="button") Nachricht
  .col-xs-12
    .row.list-group
      a.list-group-item(href="/user/dashboard")
        i.fa.fa-dashboard.padding-right-6
        | Dashboard
      a.list-group-item(href="/user/profile")
        i.fa.fa-users.padding-right-6
        | Profil
      a.list-group-item(href="/user/inbox")
        i.fa.fa-envelope.padding-right-6
        | Nachrichten
        span.badge 59
      a.list-group-item(href="#")
        i.fa.fa-tasks.padding-right-6
        | Aufgaben
      a.list-group-item(href="#")
        i.fa.fa-bar-chart-o.padding-right-6
        | Statistik
      a.list-group-item(href="/user/settings")
        i.fa.fa-gears.padding-right-6
        | Einstellungen
  .col-xs-12
    .well
      .row
        .col-xs-3
          img(src="/img/certificate.png", width="45")
        .col-xs-9
          h4 Werde beliebt!
          p.margin-bottom-0 Ergänze Dein Profil und erhalte viele tolle Sonderangebote.
