doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
  head
    include /include/metatags
    include /include/styles
  body
    include /include/userheader
    main.margin-top-51(role="main")
      .container
        .row.display-flex-sm
          .col-xs-12.col-sm-4.col-md-3.display-flex-sm
            include /include/usersidebar
          .col-xs-12.col-sm-8.col-md-9.padding-right-sm-0
            header.col-xs-12.padding-bottom-15.padding-right-sm-0
              h2.page-header Einstellungen
            .row.margin-bottom-15.margin-bottom-sm-24
              .col-xs-12.col-sm-6.col-md-4
                label Anderes Photo hochladen
                input.text-center.center-block.well.well-sm(type="file")
              .col-xs-12.col-sm-6.col-md-8
                form.form-horizontal(role="form")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Vorname:
                    .col-xs-12.col-sm-8
                      input.form-control(type="text", name="firstname", placeholder="Jane")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Nachname:
                    .col-xs-12.col-sm-8
                      input.form-control(type="text", name="surname", placeholder="Bishop")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Email:
                    .col-xs-12.col-sm-8
                      input.form-control(type="email", name="email", placeholder="janesemail@gmail.com")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Zeitzone:
                    .col-xs-12.col-sm-8
                      .ui-select
                        select#user_time_zone.form-control
                          include /include/timezonelist
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Username:
                    .col-xs-12.col-sm-8
                      input.form-control(type="text", name="username", placeholder="username")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Passwort:
                    .col-xs-12.col-sm-8
                      input.form-control(type="password", name="password", placeholder="●●●●●")
                  .form-group
                    label.col-xs-12.col-sm-4.control-label Passwort wiederholen:
                    .col-xs-12.col-sm-8
                      input.form-control(type="password", name="passwordconfirm", placeholder="●●●●●")
                  .form-group
                    .col-xs-12.text-right
                      input.btn.btn-success(type="submit", value="Speichern")
                      input.btn.btn-danger(type="reset", value="Zurücksetzen")
    include /include/userfooter
