doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
	head
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Babykleidung
				.row.margin-bottom-sm-12
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Accessoires
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Handschuhe
									li.padding-bottom-12
										a(href="./result") Strumpfhosen
									li.padding-bottom-12
										a(href="./result") Söckchen
									li.padding-bottom-12
										a(href="./result") Mützen
									li.padding-bottom-sm-12
										a(href="./result") Sets
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Basics
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="Basics")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Hosen
									li.padding-bottom-12
										a(href="./result") Leggings
									li.padding-bottom-12
										a(href="./result") Newborn
									li.padding-bottom-12
										a(href="./result") Kleider
									li.padding-bottom-sm-12
										a(href="./result") Shirts
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Festliche Mode
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Festliche Mode")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Hosen
									li.padding-bottom-12
										a(href="./result") Blusen
									li.padding-bottom-12
										a(href="./result") Accessoires
									li.padding-bottom-12
										a(href="./result") Strickjacken
									li.padding-bottom-12
										a(href="./result") Kleider
									li.padding-bottom-sm-12
										a(href="./result") Tops
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Hosen &#38; Jeans
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Hosen und Jeans")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Hosen
									li.padding-bottom-12
										a(href="./result") Bermudas
									li.padding-bottom-12
										a(href="./result") Sweathosen
									li.padding-bottom-12
										a(href="./result") Latzhosen
									li.padding-bottom-12
										a(href="./result") Leggings
									li.padding-bottom-sm-12
										a(href="./result") Jeans
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Jacken
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Jacken")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Jacken
									li.padding-bottom-12
										a(href="./result") Regenjacken
									li.padding-bottom-12
										a(href="./result") Mäntel
									li.padding-bottom-sm-12
										a(href="./result") Westen
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Oberteile
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Oberteile")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Pullover
									li.padding-bottom-12
										a(href="./result") Fleecejacken
									li.padding-bottom-12
										a(href="./result") Strickjacken
									li.padding-bottom-12
										a(href="./result") Sweatjacken
									li.padding-bottom-sm-12
										a(href="./result") Hemden
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Newborn
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Newborn")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Schlafanzüge
									li.padding-bottom-12
										a(href="./result") Accessoires
									li.padding-bottom-12
										a(href="./result") Strampler
									li.padding-bottom-12
										a(href="./result") Lätzchen
									li.padding-bottom-12
										a(href="./result") Bodies
									li.padding-bottom-sm-12
										a(href="./result") Overalls
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Unterwegs
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Unterwegs")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Accessoires
									li.padding-bottom-12
										a(href="./result") Gummistiefel
									li.padding-bottom-12
										a(href="./result") Schneeanzüge
									li.padding-bottom-12
										a(href="./result") Schneejacke
									li.padding-bottom-12
										a(href="./result") Regenhose
									li.padding-bottom-sm-12
										a(href="./result") Regenjacke
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Schuhe
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Schuhe")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Hausschuhe
									li.padding-bottom-12
										a(href="./result") Lauflernschuhe
									li.padding-bottom-12
										a(href="./result") Krabbelschuhe
									li.padding-bottom-12
										a(href="./result") Sandalen
									li.padding-bottom-12
										a(href="./result") Sneaker
									li.padding-bottom-sm-12
										a(href="./result") Stiefel
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Bademode
									img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="Bademode")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Accessoires
									li.padding-bottom-12
										a(href="./result") Sonnenbrillen
									li.padding-bottom-12
										a(href="./result") Schwimmkleidung
									li.padding-bottom-12
										a(href="./result") Schwimmwindeln
									li.padding-bottom-12
										a(href="./result") Badespielzeug
									li.padding-bottom-sm-12
										a(href="./result") Badeponcho
		include ../include/footer
