doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Babymöbel
				.row.margin-bottom-sm-12
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babybetten
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Gitterbetten
									li.padding-bottom-12
										a(href="./result") Reisebetten
									li.padding-bottom-12
										a(href="./result") Beistellbetten
									li.padding-bottom-12
										a(href="./result") Bettgitter
									li.padding-bottom-sm-12
										a(href="./result") Zubehör
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Hochstühle
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Babyhochstühle
									li.padding-bottom-12
										a(href="./result") Kombihochstühle
									li.padding-bottom-12
										a(href="./result") Sitzverkleinerer
									li.padding-bottom-12
										a(href="./result") Tischsitze
									li.padding-bottom-sm-12
										a(href="./result") Zubehör
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babybettwaren
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Bettwäsche
									li.padding-bottom-12
										a(href="./result") Bettdecken
									li.padding-bottom-12
										a(href="./result") Ausstattungssets
									li.padding-bottom-12
										a(href="./result") Spannbetttücher
									li.padding-bottom-12
										a(href="./result") Bettkopfschutz
									li.padding-bottom-sm-12
										a(href="./result") Babydecken
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babyschlafsäcke
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Sommerschlafsäcke
									li.padding-bottom-12
										a(href="./result") Ganzjahresschlafsäcke
									li.padding-bottom-12
										a(href="./result") Winterschlafsäcke
									li.padding-bottom-12
										a(href="./result") Einschlagtücher
									li.padding-bottom-12
										a(href="./result") Strampelsäcke
									li.padding-bottom-sm-12
										a(href="./result") Babytücher
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Schränke &#38; Regale
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Kommoden
									li.padding-bottom-12
										a(href="./result") Kleiderschränke
									li.padding-bottom-12
										a(href="./result") Standregale
									li.padding-bottom-12
										a(href="./result") Wandregale
									li.padding-bottom-sm-12
										a(href="./result") Wickeltisch
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babymatratzen
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Babymatratzen
									li.padding-bottom-12
										a(href="./result") Stubenwagenmatratze
									li.padding-bottom-12
										a(href="./result") Beistellbettmatratze
									li.padding-bottom-12
										a(href="./result") Matratzenschoner
									li.padding-bottom-sm-12
										a(href="./result") Nässeschutz
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Wickelkommoden
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Wickelkombi
									li.padding-bottom-12
										a(href="./result") Wickelkommoden
									li.padding-bottom-12
										a(href="./result") Wickelauflagen
									li.padding-bottom-12
										a(href="./result") Wickelregale
									li.padding-bottom-sm-12
										a(href="./result") Heizstrahler
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Wohnaccessoires
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Nachtlicht
									li.padding-bottom-12
										a(href="./result") Bilderrahmen
									li.padding-bottom-12
										a(href="./result") Kleinkindtapeten
									li.padding-bottom-12
										a(href="./result") Garderoben
									li.padding-bottom-12
										a(href="./result") Spieluhren
									li.padding-bottom-sm-12
										a(href="./result") Wandsticker
		include ../include/footer
		include ../include/tracking
