doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Babyspielzeug
				.row.margin-bottom-sm-12
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Lauflernhilfen
									img.img-responsive(src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Lauflernwagen
									li.padding-bottom-12
										a(href="./result") Krabbelrollen
									li.padding-bottom-12
										a(href="./result") Kinderfahrzeuge
									li.padding-bottom-12
										a(href="./result") Holzpuppenwagen
									li.padding-bottom-12
										a(href="./result") Puppenwagen
									li.padding-bottom-sm-12
										a(href="./result") Babygeher
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babyspielzeug
									img.img-responsive(src="./img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Mobiles
									li.padding-bottom-12
										a(href="./result") Babybälle
									li.padding-bottom-12
										a(href="./result") Beißringe
									li.padding-bottom-12
										a(href="./result") Greiflinge
									li.padding-bottom-12
										a(href="./result") Schmusetücher
									li.padding-bottom-sm-12
										a(href="./result") Spieluhren
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Kuscheltiere
									img.img-responsive(src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Teddybären
									li.padding-bottom-12
										a(href="./result") Funktionsplüsch
									li.padding-bottom-12
										a(href="./result") Sorgenfresser
									li.padding-bottom-12
										a(href="./result") Dinosaurier
									li.padding-bottom-12
										a(href="./result") Glubschis
									li.padding-bottom-sm-12
										a(href="./result") Wildtiere
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Bauklötze &#38; Bausteine
									img.img-responsive(src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Holzbausteine
									li.padding-bottom-12
										a(href="./result") Naturbauklötze
									li.padding-bottom-12
										a(href="./result") Soundbausteine
									li.padding-bottom-12
										a(href="./result") Endeckersteine
									li.padding-bottom-12
										a(href="./result") Steckbausteine
									li.padding-bottom-sm-12
										a(href="./result") Bautisch
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Lernspielzeug
									img.img-responsive(src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Activity Balls
									li.padding-bottom-12
										a(href="./result") Bälle, Würfel
									li.padding-bottom-12
										a(href="./result") Motorikschleifen
									li.padding-bottom-12
										a(href="./result") Holzlernspielzeug
									li.padding-bottom-12
										a(href="./result") Motorikspielzeug
									li.padding-bottom-sm-12
										a(href="./result") Stapelspielzeug
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Stoffspielzeug
									img.img-responsive(src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Greifbälle
									li.padding-bottom-12
										a(href="./result") Spielkissen
									li.padding-bottom-12
										a(href="./result") Handpuppen
									li.padding-bottom-12
										a(href="./result") Fingerpuppen
									li.padding-bottom-12
										a(href="./result") Stehauffiguren
									li.padding-bottom-sm-12
										a(href="./result") Glücksbringer
		include ../include/footer
		include ../include/tracking
