doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
  head
    include ../include/metatags
    include ../include/styles
  body
    include ../include/header
    main.margin-top-sm-51(role="main")
      .container
        .row
          .col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
            h2 Babyshower
        .row.margin-bottom-sm-12
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Babyparty
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Buttons
                  li.padding-bottom-12
                    a(href="./result") Dekoration
                  li.padding-bottom-12
                    a(href="./result") Geschenke
                  li.padding-bottom-12
                    a(href="./result") Einladungen
                  li.padding-bottom-12
                    a(href="./result") Windeltorten
                  li.padding-bottom-sm-12
                    a(href="./result") Bastelzubehör
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Taufe
                  img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Taufkerzen
                  li.padding-bottom-12
                    a(href="./result") Gastgeschenke
                  li.padding-bottom-12
                    a(href="./result") Aussteckformen
                  li.padding-bottom-12
                    a(href="./result") Enchanted Rose
                  li.padding-bottom-sm-12
                    a(href="./result") Pom Poms
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark 1. Geburtstag
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Geburtstagsorden
                  li.padding-bottom-12
                    a(href="./result") Geburtstagskerzen
                  li.padding-bottom-12
                    a(href="./result") Geburtstagszüge
                  li.padding-bottom-12
                    a(href="./result") Wimpelgirlanden
                  li.padding-bottom-12
                    a(href="./result") Einladungen
                  li.padding-bottom-sm-12
                    a(href="./result") Lätzchen
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Dekoration
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Eulen-Party
                  li.padding-bottom-12
                    a(href="./result") Wabenbälle
                  li.padding-bottom-12
                    a(href="./result") Luftballons
                  li.padding-bottom-12
                    a(href="./result") Girlanden
                  li.padding-bottom-12
                    a(href="./result") Servietten
                  li.padding-bottom-sm-12
                    a(href="./result") Konfetti
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Backzubehör
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Ausstechformen
                  li.padding-bottom-12
                    a(href="./result") Cupcake Wrapper
                  li.padding-bottom-12
                    a(href="./result") Papierförmchen
                  li.padding-bottom-12
                    a(href="./result") Gebäckständer
                  li.padding-bottom-12
                    a(href="./result") Tortenspitzen
                  li.padding-bottom-sm-12
                    a(href="./result") Pappteller
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  figcaption.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Specials
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Little Gentleman
                  li.padding-bottom-12
                    a(href="./result") Pünktchen Party
                  li.padding-bottom-12
                    a(href="./result") Candy Bar Party
                  li.padding-bottom-12
                    a(href="./result") Chevron Party
                  li.padding-bottom-sm-12
                    a(href="./result") Gender Party
    include ../include/footer
