doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
	head
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Erstausstattung
				.row.margin-bottom-sm-12
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babykleidung
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_78539251.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Strampler
									li.padding-bottom-12
										a(href="./result") Mützchen
									li.padding-bottom-12
										a(href="./result") Babysöckchen
									li.padding-bottom-12
										a(href="./result") Baumwolljäckchen
									li.padding-bottom-12
										a(href="./result") Baumwollpullies
									li.padding-bottom-sm-12
										a(href="./result") Strumpfhosen
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Wickeln
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_88002498.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Mulltücher
									li.padding-bottom-12
										a(href="./result") Wickelauflage
									li.padding-bottom-12
										a(href="./result") Einwegwindeln
									li.padding-bottom-12
										a(href="./result") Wickelkommode
									li.padding-bottom-12
										a(href="./result") Windeleimer
									li.padding-bottom-sm-12
										a(href="./result") Heizstrahler
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Stillen &#38; Ernährung
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_97890002.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Still-BH
									li.padding-bottom-12
										a(href="./result") Stillkissen
									li.padding-bottom-12
										a(href="./result") Fläschchen
									li.padding-bottom-12
										a(href="./result") Milchpumpe
									li.padding-bottom-12
										a(href="./result") Flaschenbürste
									li.padding-bottom-sm-12
										a(href="./result") Sterilisator
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Schlafen
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_99736220.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Schlafsack
									li.padding-bottom-12
										a(href="./result") Babymatratze
									li.padding-bottom-12
										a(href="./result") Spannbetttuch
									li.padding-bottom-12
										a(href="./result") Bettwäsche
									li.padding-bottom-12
										a(href="./result") Betthimmel
									li.padding-bottom-sm-12
										a(href="./result") Nestchen
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Waschen &#38; Baden
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_94834946.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Handtücher
									li.padding-bottom-12
										a(href="./result") Waschlappen
									li.padding-bottom-12
										a(href="./result") Thermometer
									li.padding-bottom-12
										a(href="./result") Babybadewanne
									li.padding-bottom-12
										a(href="./result") Bademantel
									li.padding-bottom-sm-12
										a(href="./result") Badeeimer
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Baby Hautpflege
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_102026460.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Waschgel
									li.padding-bottom-12
										a(href="./result") Wundcreme
									li.padding-bottom-12
										a(href="./result") Feuchttücher
									li.padding-bottom-12
										a(href="./result") Gesichtspflege
									li.padding-bottom-12
										a(href="./result") Pflegelotion
									li.padding-bottom-sm-12
										a(href="./result") Babypuder
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Baby Haarpflege
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_71112893.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Baby Haarbürste
									li.padding-bottom-12
										a(href="./result") Baby Haarschere
									li.padding-bottom-12
										a(href="./result") Baby Haarkramm
									li.padding-bottom-sm-12
										a(href="./result") Baby Schampoo
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Baby Gesundheit
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_100844890.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Thermometer
									li.padding-bottom-12
										a(href="./result") Nagelschere
									li.padding-bottom-12
										a(href="./result") Schnuller
									li.padding-bottom-12
										a(href="./result") Hausaptheke
									li.padding-bottom-12
										a(href="./result") Kirschenkissen
									li.padding-bottom-sm-12
										a(href="./result") Lammfell
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Einrichtung
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_23329336.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Babywippe
									li.padding-bottom-12
										a(href="./result") Krabbeldecke
									li.padding-bottom-12
										a(href="./result") Kleiderschrank
									li.padding-bottom-12
										a(href="./result") Stubenwagen
									li.padding-bottom-12
										a(href="./result") Spieluhren
									li.padding-bottom-sm-12
										a(href="./result") Nachtlicht
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Sicherheit
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_97636362.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Babyphone
									li.padding-bottom-12
										a(href="./result") Steckdosenschutz
									li.padding-bottom-12
										a(href="./result") Türschutzgitter
									li.padding-bottom-12
										a(href="./result") Insektengitter
									li.padding-bottom-sm-12
										a(href="./result") Kabbelgitter
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Unterwegs
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_35930801.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Babyschale
									li.padding-bottom-12
										a(href="./result") Kinderwagen
									li.padding-bottom-12
										a(href="./result") Wickeltasche
									li.padding-bottom-12
										a(href="./result") Babytrage
									li.padding-bottom-12
										a(href="./result") Tragetuch
									li.padding-bottom-sm-12
										a(href="./result") Reisebett
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Babyspielzeug
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_71627346.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Schmusetuch
									li.padding-bottom-12
										a(href="./result") Hängefiguren
									li.padding-bottom-12
										a(href="./result") Spieltrapez
									li.padding-bottom-12
										a(href="./result") Kuscheltier
									li.padding-bottom-12
										a(href="./result") Mobile
									li.padding-bottom-sm-12
										a(href="./result") Puppe
		include ../include/footer
