doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Geschenke
				.row.margin-bottom-15.margin-bottom-sm-24
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
					article.col-xs-12.col-md-4.padding-bottom-15.padding-bottom-sm-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12
								.row
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
								.row.border-bottom-thin
									.col-xs-4.text-center
										button.btn.btn-comment.btn-block(type="button")
											i.fa
									.col-xs-4.text-center.border-right-thin.border-left-thin
										button.btn.btn-love.btn-block(type="button")
											i.fa
									.col-xs-4.text-center
										button.btn.btn-bell.btn-block(type="button")
											i.fa
							.col-xs-12.padding-12
								h4.margin-bottom-3.margin-bottom-sm-9 Überraschungspaket
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.
								p.margin-bottom-0.text-right
									a.btn.btn-primary(href="./detail") Artikel anzeigen
		include ../include/footer
		include ../include/tracking
