doctype
html(prefix="og: http://ogp.me/ns#", lang="de")
  head
    include ../include/metatags
    include ../include/styles
  body
    include ../include/header
    main.margin-top-sm-51
      .container
        .row
          .col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
            h2 Schlafparadies
        .row.margin-bottom-sm-12
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  .pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Baby Schlafsäcke
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Winterschlafsäcke
                  li.padding-bottom-12
                    a(href="./result") Sommerschlafsäcke
                  li.padding-bottom-12
                    a(href="./result") Erstlingsschläfsacke
                  li.padding-bottom-12
                    a(href="./result") Ganzjahres-Schlafsack
                  li.padding-bottom-12
                    a(href="./result") Universalschlafsäcke
                  li.padding-bottom-sm-12
                    a(href="./result") Frotteeschlafsack
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  .pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Matratzen
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Stubenkorbmatratze
                  li.padding-bottom-12
                    a(href="./result") Kinderwagenmatratze
                  li.padding-bottom-12
                    a(href="./result") Schaumkernmatratze
                  li.padding-bottom-12
                    a(href="./result") Wiegenmatratze
                  li.padding-bottom-12
                    a(href="./result") Matratzenschutz
                  li.padding-bottom-sm-12
                    a(href="./result") Kindermatratze
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  .pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Bettausstattungen
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Betthimmel
                  li.padding-bottom-12
                    a(href="./result") Ausstattungssets
                  li.padding-bottom-12
                    a(href="./result") Kinderbettgarnitur
                  li.padding-bottom-12
                    a(href="./result") Bettkopfschutz
                  li.padding-bottom-sm-12
                    a(href="./result") Betteinlagen
          .col-xs-12.col-md-6.padding-bottom-24
            .row.bg-white.thumbnail.margin-0
              figure.col-xs-12.col-sm-8
                .row.pos-relative
                  .pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
                    h3.padding-12.bg-overlay-dark Bettwäsche
                  img.img-responsive(src="./img/loader.gif", data-src="http://placehold.it/800x532", alt="")
              .col-xs-12.col-sm-4
                ul.list-unstyled
                  li.padding-bottom-12.padding-top-12
                    a(href="./result") Babykissen
                  li.padding-bottom-12
                    a(href="./result") Kuschelkissen
                  li.padding-bottom-12
                    a(href="./result") Kuscheldecken
                  li.padding-bottom-12
                    a(href="./result") Spannbettlaken
                  li.padding-bottom-12
                    a(href="./result") Babydecken
                  li.padding-bottom-sm-12
                    a(href="./result") Bettwäsche
    include ../include/footer
