doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/metatags
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Umstandsmode
				.row.margin-bottom-sm-12
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Kleider
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Sommerkleider
									li.padding-bottom-12
										a(href="./result") Maxikleider
									li.padding-bottom-12
										a(href="./result") Abendkleider
									li.padding-bottom-12
										a(href="./result") Blusenkleider
									li.padding-bottom-12
										a(href="./result") Strickkleider
									li.padding-bottom-sm-12
										a(href="./result") Jeanskleider
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Oberteile
									img.img-responsive(src="./img/loader.gif", data-src="./img/stockphoto/800x532_Dollarphotoclub_56327544.jpg", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") T-Shirts
									li.padding-bottom-12
										a(href="./result") Langarmshirts
									li.padding-bottom-12
										a(href="./result") Tuniken
									li.padding-bottom-12
										a(href="./result") Hemden
									li.padding-bottom-12
										a(href="./result") Blusen
									li.padding-bottom-sm-12
										a(href="./result") Tops
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Pullover
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Strickjacken
									li.padding-bottom-12
										a(href="./result") Strickpullover
									li.padding-bottom-12
										a(href="./result") Kapuzenpullover
									li.padding-bottom-12
										a(href="./result") Sweatjacken
									li.padding-bottom-sm-12
										a(href="./result") Sweatshirts
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Jeans
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Slim Fit
									li.padding-bottom-12
										a(href="./result") Straight Leg
									li.padding-bottom-12
										a(href="./result") Jeans Shorts
									li.padding-bottom-12
										a(href="./result") Leggings
									li.padding-bottom-sm-12
										a(href="./result") Bootcut
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Hosen
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Chinos
									li.padding-bottom-12
										a(href="./result") Stoffhosen
									li.padding-bottom-12
										a(href="./result") Jogginghosen
									li.padding-bottom-12
										a(href="./result") Strumpfhosen
									li.padding-bottom-12
										a(href="./result") Jumpsuits
									li.padding-bottom-sm-12
										a(href="./result") Shorts
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Röcke
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Miniröcke
									li.padding-bottom-12
										a(href="./result") Jeansröcke
									li.padding-bottom-12
										a(href="./result") A-Linienröcke
									li.padding-bottom-12
										a(href="./result") Bleistiftröcke
									li.padding-bottom-sm-12
										a(href="./result") Maxiröcke
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Jacken &#38; Mäntel
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Parka
									li.padding-bottom-12
										a(href="./result") Blazer
									li.padding-bottom-12
										a(href="./result") Trenchcoats
									li.padding-bottom-12
										a(href="./result") Lederjacken
									li.padding-bottom-12
										a(href="./result") Winterjacken
									li.padding-bottom-sm-12
										a(href="./result") Daunenjacke
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Bademode
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") Bikinis
									li.padding-bottom-12
										a(href="./result") Badeanzüge
									li.padding-bottom-12
										a(href="./result") Bademäntel
									li.padding-bottom-sm-12
										a(href="./result") Accessoires
					.col-xs-12.col-md-6.padding-bottom-24
						.row.bg-white.thumbnail.margin-0
							figure.col-xs-12.col-sm-8
								.row.pos-relative
									.pos-absolute.pos-relative-md.pos-absolute-lg.pos-top.pos-left.full-width
										h3.padding-12.bg-overlay-dark Wäsche
									img.img-responsive(src="./img/loader.gif", data-src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800×532&w=800&h=532", alt="")
							.col-xs-12.col-sm-4
								ul.list-unstyled
									li.padding-bottom-12.padding-top-12
										a(href="./result") BHs
									li.padding-bottom-12
										a(href="./result") Oberteile
									li.padding-bottom-12
										a(href="./result") Unterteile
									li.padding-bottom-12
										a(href="./result") Nachtwäsche
									li.padding-bottom-12
										a(href="./result") Bademäntel
									li.padding-bottom-sm-12
										a(href="./result") Shapewear
		include ../include/footer
		include ../include/tracking
