doctype
include ../include/asciiart
html(prefix='og: http://ogp.me/ns#', lang='de')
	head
		include ../include/opengraphtags
		include ../include/twittercardtags
		include ../include/metatags
		include ../include/styles
	body
		include ../include/header
		main.margin-top-sm-51
			.container
				.row
					.col-xs-12.padding-top-15.padding-top-sm-24.padding-bottom-15.padding-bottom-sm-24
						h2 Gutscheine
				.row.margin-bottom-sm-12
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
					.col-xs-12.col-sm-6
						.panel.panel-warning
							.panel-body
								.row.margin-bottom-24
									.col-xs-5.col-sm-3
										p.h1 25 €
									.col-xs-7.col-sm-9
										h4.margin-bottom-3
											strong Firmenname
										h4.hidden-xs.margin-bottom-6
											small Gutschein Kurzbeschreibung
										p www.otto.de
								.row.text-right
									.col-xs-12
										button.btn.btn-primary(type="button") Jetzt einlösen
		include ../include/footer
		include ../include/tracking
