.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
}
@media (min-width: $screen-sm-min) {
  .display-table-sm {
    display: table;
  }
  .display-table-cell-sm {
    display: table-cell;
  }
}
@media (min-width: $screen-md-min) {
  .display-table-md {
    display: table;
  }
  .display-table-cell-md {
    display: table-cell;
  }
}
@media (min-width: $screen-lg-min) {
  .display-table-lg {
    display: table;
  }
  .display-table-cell-lg {
    display: table-cell;
  }
}
